* {
padding: 0;
margin: 0;
}

.list li{
    font-size: 1.2em;
    padding: 5px;
    background-color: orange;
    text-align: center;
    color: white;
    cursor: pointer;
}

.list li:hover {
    background-color: grey;
}

.form {
    display: none;
}