* {
padding: 0;
margin: 0;
}

.base{
width: 100%;
height: 300px;  
border: 1px solid red;
text-align: middle;
display: flex;
flex-wrap: wrap;
}

.counter{
   width: 50%;
   height: 50px;
    text-decoration: blue;
}