* {
padding: 0;
margin: 0;
}

.base{
width: 100%;
height: 300px;
text-align: middle;
display: flex;
flex-wrap: wrap;
}

.counter{
   width: 50%;
   height: 50px;
    text-decoration: blue;
}

.counter-black-cat {
    widows: 50%;
}

.counter-red-cat {
    widows: 50%;
}